.App {
  text-align: center;
}

body {
  background-size: 100% 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: white;
}

.header {
  box-shadow: inset 0vh 1vh 1vh -0.2vh rgba(0,0,0,0.4);
  text-align: center;
  margin: auto;
}

#head {
  background: #f4f4f4 url('../images/nyc_skyline.jpg') top center;
  background-size: cover;
  color: #7C7C7C;
  padding: 30px 0 35px 0;
}

#head-image {
  background-size: contain;
}

.navbar {
  border-width: 1px 0;
  border-radius: 0;
  background-clip: padding-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: 1px grey solid;
  padding: 0.5vmin 15vmin;
}

.navLink {
  color: black;
  font-size: calc(6px + 2.5vmin);
  padding: 2vmin;
  min-width: 20vmin;
  text-align: center;

}

.topspace {
  margin-top: 40px;
}

.lead {
  display: inline-flex;
  width: 60%;
}

.section-title {
  display: inline;
  text-align: center;
  width: 100%;
}

.App-link {
  color: #000000;
}

.active {
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(68, 67, 67);
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  height: 50vmin;
}

.item {
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
}

.section {
  margin: 6vmin 12vmin;
  text-align: center;
  max-width: 100%;
}

.sectionHeading, .sectionParagraph {
  margin: 3vmin 2vmin;
}

.experience-row {
  text-align: left;
  horiz-align: left;
  width: 100%;
}

.row {
  justify-content: center;
}

h3.experience-title {
  text-align: left;
  margin: 4vmin 0;
  width: 100%;
}

.experience {
  width: 100%;
}

.experience-left {
  max-width: 30%;
}
.experience-right {
  max-width: 70%;
}
.experience-left, .experience-right {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.experience-location,.experience.date {
  width: 100%;
}

.pictureBox{
  width: 40%;
  min-height: 35%;
  height: 50%;
  display: -ms-flexbox;
  padding: 2vmin;
}

.picture-grid {
  height: calc(50vmin + 100px);
  padding: 2vmin;
}

.picture-title {
  display: block;
}

.picture-holder {
  height: 80%;
}

.picture {
  width: 100%;
  max-width: 100%;
}

.aboutme {

}

.contact-title {
  color: white;
  text-emphasis: none;
}

.media-component {
  display: grid;
}

.link-box {
  display: grid;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}



